.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);

    grid-gap: 10px;
}

.grid > div{
    background-color: red;
}
.grid01{
    grid-column: 1 / 3;
    
    grid-row-start: 1;
    grid-row-end: 3;
}