$layout-name: 'l-content01';

.#{$layout-name} {
    align-items: center;
    background-color: rgb(231, 230, 230);
    color: rgb(59, 55, 55);
    display: grid;
    grid-template-rows: 100px minmax(200px);
    min-height: 300px;
    

    &--title{
        color: rgb(46, 43, 43);
        font-weight: bolder;
        padding: 30px 10px 0px 10px;
        text-align: center;

        @media screen and (min-width: 768px) {
            grid-column: 1 / span 3;
        }
        
    }

    &--text{
        font-weight: 600;
        display: grid;
        text-align: center;
        width: 80%;
        margin: auto;
        padding-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        
    }
}