$layout-name: 'l-content02';

.#{$layout-name} {
    background-color: rgb(89, 89, 89);
    display: grid;
    gap: 10px;
    padding: 15px;


    &--title{
        color: rgb(46, 43, 43);
        font-weight: bolder;
        padding: 30px 10px 40px 10px;
        text-align: center;
    }

    &--text{
        text-align: center;
        font-weight: 600;
        color: rgb(59, 55, 55);
        width: 85%;

        margin: auto;
    }
    

    &--cx01{
        background-color: white;
        min-height: 500px;


        &--img{
            background-image: url(https://images.pexels.com/photos/326522/pexels-photo-326522.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 250px;
        }
    }

    &--cx02{
        background-color: white;
        min-height: 500px;

        &--img{
            background-image:url(../../img/mobile.jpg) ;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 250px;
        }
        
    }

    &--cx03{
        background-color: white;
        min-height: 500px;

        &--img{
            background-image: url(https://images.pexels.com/photos/265087/pexels-photo-265087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 250px;
        }
    }
        @media screen and (min-width: 768px){
                &{
                    grid-template-columns: repeat(3, 1fr);
                    gap: 10px;
                    padding: 10px;
                }            
        }
}