$layout-name: 'l-header';

.#{$layout-name} {
    background-image: url(../../img/imagem-codigos.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(106, 105, 105);
    background-blend-mode: multiply;
    color: white;
    min-height: 450px;
}